body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
.display-4 {
    color: #54728e;
}

#name .display-4 {
    color: white;
}

  .jumbotron-fluid {
    display: flex;
    align-items: center;
    text-align: center;
    background-color:#54728e;
    color: white;
    height: 65vh;
    min-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-shadow: 0.25px 0.25px 0.25px #000000; */
    margin-bottom: 10vh;
  }

  .jumbotron-fluid .container .h5 {
      margin-top: 2vh;
  }

  #name {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 225px;
    display: inline-block;
    overflow: auto;
  }
  
  .rounded-photo {
      border-radius: 50%;
      height: 250px;
  }

  .icon {
      height: 30px;
  }

  #about-me ul {
    list-style: none;
    margin-top: 20px;
  }

  #blurb {
    align-items: center;
    margin-bottom: 50px;
  }

  .description {
      margin-bottom: 5vh;
  }

  .carousel-item {
    padding: 15vh;
  }

  #work-experience .display-4 {
      margin-bottom: 5vh;
  }

  #experience-carousel {
    background-color: #cfd9e2;
    min-height: 75vh;
    min-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .carousel-inner h2 {
      margin-bottom: 3vh;
      margin-left: 3vh;
  }

  #projects {
    margin: 15vh auto;
  }

  #projects .display-4 {
    margin-right: 5vh;
  }

  #projects .card {
    margin: 3vh auto;
    background-color: #cfd9e2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #education {
    margin: 15vh auto;
  }

  #education .display-4 {
    margin-bottom: 3vh;
  }

  #uni-info {
    margin-bottom: 3vh;
  }

  #uni-info h4 {
    margin-right: 10vh;
  }

  #relevant {
    margin-bottom: 2vh;
  }